/**
 * style.css
 *
 * A series of styles to transform the 'Red Hot Chili Peppers' page
 * Style the HTML elements according to the following instructions
 * Do not change the HTML file to do this.  write only css.
 */

/* Set dimensions for table cells */
/* Each cell is 20px by 20px */
td {
  width: 20px;
  height: 20px;
}

/* Generate cells */
/* Applying black to even rows and odd columns */
tr:nth-child(odd) td:nth-child(even),
tr:nth-child(even) td:nth-child(odd) {
  background-color: black;
}

/* Applying orange to odd rows and even columns */
tr:nth-child(odd) td:nth-child(odd),
tr:nth-child(even) td:nth-child(even) {
  background-color: orange;
}