/*
==================================================
  File name: style.scss
  Exercise: Grid art
  Author: Ambra Duca
  Description: This stylesheet creates a dynamic image gallery with CSS Grid.
  - General body styling with centered layout
  - Defined a responsive grid layout with images of various sizes
  - Set up smooth transitions for animations
  - Mouseover effect pauses the reshuffle of the grid
  - Added click event to enlarge images
  - Styled navigation buttons for browsing through the images
==================================================
*/

// General body styling
body {
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  display: flex; // Using flexbox to center content in the page
  flex-direction: column; // Content flows in a column
  justify-content: center;
  align-items: center;
  background: rgb(59,176,181);
  background: radial-gradient(circle, rgb(70, 84, 47) 0%, rgba(98,64,79,1) 88%);
  margin: 8px;
}

// h1 general styling
h1 {
  margin-bottom: 20px;
  font-size: 4vw;
  font-weight: 600;
  color: #eee;
}

// Responsive grid layout for the gallery
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); // Imgs can stretch to fill all space
  grid-auto-rows: 150px; // Set uniform row heights
  gap: 10px;
  width: 90vw;
  height: 80vh;
  transition: all 0.4s ease-in-out; // Transition for any property change
}

// Style for the images in the gallery
.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover; // Prevents stretching
  cursor: pointer;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

// Hover effect on images when not enlarged
body .gallery img:not(.enlarged):hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

// Enlarged image styles
img.enlarged {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 1000;
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: zoom-out;
}

// Disable hover effect on the enlarged image
img.enlarged:hover {
  box-shadow: none;
  cursor: zoom-out;
}