.platypi-links { /*called it -links because it's mainly used in a elements*/
  font-family: "Platypi", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.sedan-regular {
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .sedan-regular-italic {
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: italic;
  }
  
/* code obtained from https://fonts.google.com/selection/embed, just like the links in the head element

/* Element selector */
body {
    background-color: #111;
    color: #eee;
    font-size: 16px; /* Change text size */
    font-family: "Futura", sans-serif;
}

/* Element selector, DRY */
a, h1 {
    font-family: "Sedan", serif; /* Google font applied to all links in lists and paragraphs */
}

/* Element selector */
header {
    background-color: #440044;
    padding: 20px;
}

/* Element selector */
h1 {
    color: #FF0033;
    font-size: 36px; /* Change text size */
}

/* Element selector */
strong {
    color: #CC00FF;
    font-size: 20px; /* Change text size */
}

nav ul li a {
    color: #FF0033; /* Links that aren't in the sidebar are red */
}

/* Pseudo-class :hover */
nav ul li a:hover {
    color: #FFCCCC; /* Change color on hover */
}

/* Element selector */
main {
    padding: 30px; /* Change the padding */
}

/* Element selector */
h2 {
    color: #BB00FF;
    font-size: 28px; /* Change text size */
}

/* Element selector */
aside {
    background-color: #440044;
    padding: 30px; /* Change the padding */
}

/* Element selector */
img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

/* ID selector */
#sidebar h2 {
    color: #FF0033;
    font-size: 24px; /* Change text size */
}

/* ID selector */
#sidebar p {
    color: #FF0033;
}

/* ID selector */
#sidebar a {
    color: #FF66FF; /*Links in the sidebar aren't red*/
}

/* ID selector */
#sidebar a:hover {
    color: #ff00f2; /* Change color on hover */
}

/* Element selector */
footer {
    background-color: #333;
    color: #eee;
    padding: 30px; /* Change the padding */
    text-align: center;
}