/*
==================================================
File name: style.scss
Exercise: Of light and darkness
Author: Ambra
Description:
SCSS is used to generate the CSS file. It contains:
- An SCSS variable called themes
  - It contains two maps, default and dark
      - Default contains bg color and color properties, but also styles for the button elements 
      to showcase what happens when there's no parameters to change to
      - Dark only contains bg color and color properties
- A function called theme that takes two parameters and turns them into a map 
gathered from the map of two arguments to add: the object name and the name of its property.
This is to avoid having to always get the properties manually from the map
- A placeholder called btn-style that holds most button element styles
- Styling for the theme changer container
- Hiding the theme-selectors radio buttons
- Changing the parameters of the theme function in all theme-changer and its children elements
upon the default and dark buttons being checked
- General header, nav, h1, button, and all content within the main styling
    - The h1 and buttons do not change between default and dark mode because of the lack of a parameter for their dark mode. Also used @extend of the btn-style placeholder to assign button style
==================================================
*/

html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

// Defining SCSS variables for colors and font sizes used in the theme 
$themes: (
    default: (
        bg: #f8e2ff, // bg color for default theme
        text: #291d3c, // Text color for default theme

        /* These remain the same in dark theme, put here to show that in
        case of lack of parameters the previous one is mantained */
        btn-bg: #6c63ff, // btn bg color
        btn-hover-bg: lighten(#6c63ff, 10%), // btn bg color on hover
        btn-color: #fff // btn text color
    ),
    // Dark theme only affects bg color and color of some elements
    dark: (
        bg: #291d3c, // bg color for dark theme
        text: #f8e2ff, // Text color for dark theme
    )
);

// SCSS function theme to get theme values based on theme name and property
@function theme($theme-name, $property) {
    @return map-get(map-get($themes, $theme-name), $property);
    // Useful to avoid repeating map-get
}

// Btn placeholder to extend into button elements
%btn-style {
    display: inline-block; /* So btns can display side by side */
    user-select: none; /* Disallows text selection on buttons */
    /* General styling */
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: background-color 0.3s;
    padding: 8px;
    margin: 0 5px;
     /* Since the dark object doesn't have these properties, the parameters stays default upon mode change */
    background-color: theme(default, btn-bg);
    color: theme(default, btn-color);

        &:hover {
            background-color: theme(default, btn-hover-bg ) ;
        }
}

/* Apply default theme (default) styles to the theme-changer element */
.theme-changer {
    background-color: theme(default, bg);
    color: theme(default, text);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    transition: background-color 0.4s, color 0.4s;
}


/* Hide the theme toggling radio btns */
.theme-selector {
    display: none;
}

/* Apply dark theme styles when dark-mode radio btn is checked */
#dark-mode:checked ~ .theme-changer {
    background-color: theme(dark, bg);
    color: theme(dark, text);
}

/* Apply default theme styles when default-mode radio btn is checked */
#default-mode:checked ~ .theme-changer {
    background-color: theme(default, bg);
    color: theme(default, text);
}

/* header styling */
header {
    position: sticky;
    top: 0;
}

/* nav bar styling */
nav {
    // No bg color so the transparent nav automatically shows up as current mode color
    height: 0px; /* To allow overlap with the h2's box */ 
    margin: 0;
    padding: 10px;
    text-align: right;

    /* the theme toggles', which are in the nav, styling */
    .theme-toggle { // Applying btn placeholder style through extension
        @extend %btn-style
    }

}

/* h1 styling */
h1 {
    padding: 20px;
    font-size: 3rem;
    background-color: theme(default, btn-bg );
    color: theme(default, color );
}

/* btns styling */
button {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* main content styling */
main {
    padding: 20px;
    height: 100vh;

    /* sections styling */
    section {
        margin-bottom: 20px;

        /* section headings styling */
        h2 {
            font-size: 1.5em;
        }

        /* uls, tables, and forms styling common */
        ul, table, form {
            margin-top: 10px; /* To avoid cumulative margin between elements */
        }

        /* uls styling */
        ul {
            list-style-type: disc;
            margin-left: 20px;

            li {
                margin-bottom: 5px;
            }
        }

        /* table styling */
        table {
            width: 100%;

            th, td {
                border: 1px solid #ccc;
                padding: 8px;
                text-align: left;
            }
            /* Only part affected by theme change */
            th {
                background-color: theme(default, btn-bg);
                color: theme(default, btn-color);
            }
        }

        /* form styling */
        form {
            margin-top: 10px;
        }

        label {
            display: block;
            margin-bottom: 5px;
        }

        input {
            display: block;
            width: 70%;
            margin-bottom: 10px;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        button {
            @extend %btn-style; // Applying btn placeholder style through extension
        }
    }
}