/*
==================================================
File name: style.scss
Exercise: Of light and darkness
Author: Ambra
Description:
SCSS is used to generate the CSS file. It contains:
- An SCSS variable called themes
  - It contains two maps, default and dark
      - Default contains bg color and color properties, but also styles for the button elements 
      to showcase what happens when there's no parameters to change to
      - Dark only contains bg color and color properties
- A function called theme that takes two parameters and turns them into a map 
gathered from the map of two arguments to add: the object name and the name of its property.
This is to avoid having to always get the properties manually from the map
- A placeholder called btn-style that holds most button element styles
- Styling for the theme changer container
- Hiding the theme-selectors radio buttons
- Changing the parameters of the theme function in all theme-changer and its children elements
upon the default and dark buttons being checked
- General header, nav, h1, button, and all content within the main styling
    - The h1 and buttons do not change between default and dark mode because of the lack of a parameter for their dark mode. Also used @extend of the btn-style placeholder to assign button style
==================================================
*/
html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

main section button, nav .theme-toggle {
  display: inline-block; /* So btns can display side by side */
  user-select: none; /* Disallows text selection on buttons */
  /* General styling */
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: background-color 0.3s;
  padding: 8px;
  margin: 0 5px;
  /* Since the dark object doesn't have these properties, the parameters stays default upon mode change */
  background-color: #6c63ff;
  color: #fff;
}
main section button:hover, nav .theme-toggle:hover {
  background-color: #9c96ff;
}

/* Apply default theme (default) styles to the theme-changer element */
.theme-changer {
  background-color: #f8e2ff;
  color: #291d3c;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  transition: background-color 0.4s, color 0.4s;
}

/* Hide the theme toggling radio btns */
.theme-selector {
  display: none;
}

/* Apply dark theme styles when dark-mode radio btn is checked */
#dark-mode:checked ~ .theme-changer {
  background-color: #291d3c;
  color: #f8e2ff;
}

/* Apply default theme styles when default-mode radio btn is checked */
#default-mode:checked ~ .theme-changer {
  background-color: #f8e2ff;
  color: #291d3c;
}

/* header styling */
header {
  position: sticky;
  top: 0;
}

/* nav bar styling */
nav {
  height: 0px; /* To allow overlap with the h2's box */
  margin: 0;
  padding: 10px;
  text-align: right;
  /* the theme toggles', which are in the nav, styling */
}
/* h1 styling */
h1 {
  padding: 20px;
  font-size: 3rem;
  background-color: #6c63ff;
}

/* btns styling */
button {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* main content styling */
main {
  padding: 20px;
  height: 100vh;
  /* sections styling */
}
main section {
  margin-bottom: 20px;
  /* section headings styling */
  /* uls, tables, and forms styling common */
  /* uls styling */
  /* table styling */
  /* form styling */
}
main section h2 {
  font-size: 1.5em;
}
main section ul, main section table, main section form {
  margin-top: 10px; /* To avoid cumulative margin between elements */
}
main section ul {
  list-style-type: disc;
  margin-left: 20px;
}
main section ul li {
  margin-bottom: 5px;
}
main section table {
  width: 100%;
  /* Only part affected by theme change */
}
main section table th, main section table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}
main section table th {
  background-color: #6c63ff;
  color: #fff;
}
main section form {
  margin-top: 10px;
}
main section label {
  display: block;
  margin-bottom: 5px;
}
main section input {
  display: block;
  width: 70%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/*# sourceMappingURL=style.css.map */
