body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #eaceff;
    padding: 20px; /* Add padding to body for spacing */
}

/* Container styles */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Spans */
.spans-container {
    margin-bottom: 30px;
    display: inline-block;
}

.spans-container p {
    padding: 20px;
    border: 2px solid #7469B6;
    background-color: #E1AFD1;
    margin-bottom: 20px;
    font-size: 0.7em;
}

.spans-container p:nth-of-type(2) {
    border: 2px solid #E1AFD1;
    background-color: #7469B6;
    cursor: pointer;
}

/* Divs (referenced by classes) and Semantic HTML5 Elements */
.header, .footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: fit-content; /* Using display: inline-block would cause the .header div to show up next to the last p, since they'd both display inline */
}

.header {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
 /* Making the header and footer look like they contain the other elements inbetween */
.footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.main-section, .sidebar {
    background-color: #7c46a0;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    max-width: 600px;
}

.sidebar {
    margin-right: 20px; /* Add margin to create space between main section and sidebar */
}

/* Image div and images */
#images-container {
    display: inline-block;
}

.image-container img {
    width: 50%;
    height: auto;
    border: 2px solid #7469B6;
    border-radius: 10px;
    transition: transform 0.2s;
    cursor: pointer;
}

.image-container {
    padding: 1em;
}

#image1 {
    float: left;
}

#image2 {
    float: right;
}

/* TODO Chiedi a Vince come far muovere senza causare tagli all'immagine e div associato */
.image-container #image1:hover {
    transform: translate(-5px, -5px);
}

.image-container #image2:hover {
    transform: translate(5px, -5px);
}