/*
==================================================
  File name: style.css
  Exercise: United nations
  Author: Ambra
  Description: This stylesheet is for styling the United nations page 
  - General body styling
  - Centered the main
  - Made the header id div:
    - Sticky with top positioning 0 so it stays at the top while scrolling
    - Have a z-index of 2 to prevent the flag images from overlapping with it
    - Have general styling
  - Gave the header-item class elements:
    - Float to the left to align them
    - Equal width in percentage
    - Text align center so there's only two rules needed to align the other 2 header ' text
    - Used pseudoclasses :nth-of-type to select the header-item class to align their text singularly.
    Made the middle one 34% width to fill the gap left by dividing 100% by 3
  - Gave country-list class elements relative positioning.
  - Display list as and giving them the clear property set to both to simulate row behaviour
  - Floated flag containers of class flag-area left, set width same as the flag header and base background color 
  with alpha channel, set position relative to allow the flags to position relative to their containers
  - Centered flag images within their containers of class flag-area through absolute positioning,
  limited dimensions so they don't overflow their row and the column
  - Floated country-name class divs left, centers inline element vertically through line-height, adds left padding.
  - Floated population class divs right, the rest same as the country names. 
  Omitting width here allows the text to automatically align right.
  - Highlighted countries with large populations using background color based on their class large-population
==================================================
*/

html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 2vw;
    background-color: #e6fdff;
    margin: 0;
    padding: 0;
}

#container {
    /* Generic "table" styling in the page */
    width: 80%;
    margin: 0 auto; /* Takes all the height available while auto margin width centers it in the page */
}

#header {
    font-size: 1.2em;
    font-weight: bold;
    position: sticky; /* Acts as relative until the threshold is met. Here it's used 
    to make the header stay at the top of the screen while scrolling */
    top: 0; /* Specifies the distance from the top the element should become static */
    z-index: 2; /* Prevents other elements from overlapping the header while scrolling */
}

.header-item {
    float: left; /* Making all 3 header  float to the left to align them */
    width: 33%; /* Using percentages to fill out the space */
    padding: 1vw;
    text-align: center; /* So that there's no need for an additional rule for the flag column header later */
    background-color: #cc9feb;
    border: 0.2vw solid #e0ccff;
}
/* Making the column headers align with the information below them */
.header-item:nth-of-type(2) {
    text-align: left;
    width: 34%; /* Higher percentage for the middle one because of the repeating decimal result 
    when dividing the total percentage 100 by 3 */
}

.header-item:nth-of-type(3) {
    text-align: right;
}

#country-list .row { 
    /* Displaying the row class list as and giving them 
    the clear property set to both to simulate row behaviour */
    display: block;
    height: 100px;
    border: 0.3vw solid #e0ccff;
    clear: both;
}

.flag-area {
    float: left;
    width: 33%;
    height: 100%;
    background-color: #cec6f054;
    clear: both; /* Prevents other flags from displaying on the same row */
    position: relative; /* Allows the img with absolute position to refer to this area */
}

.flag-area img {
     /* These properties move the absolute positioned element, 
     if all directions are applied with auto margin it centers */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
     /* Ensure the flag does not exceed the cell dimensions */
    max-height: 90%;
    max-width: 90%;
}

.country-name {
    float: left;
    /* Takes the full row height, and the full column width */
    line-height: 100px; /*Inline text so it needs line-height to center vertically*/
    width: 34%;
    padding-left: 1vw;
}

/* Floats to the right, same line-height */
.population {
    float: right;
    /* Takes the full row height */
    line-height: 100px;
    /* Omitting width allows the text to automatically align to the right */
    padding-right: 1vw;
}

.large-population {
    background-color: #f9e0ff; /* Highlighting countries with a large population as requested ( >20mil pop )*/
}