/* RESET ------------------------------ RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* FINE RESET ---------------------------------------------------------------------- FINE RESET */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Aggiungi stili per la navbar, header, section, card, last-section, footer, etc. */

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: url('background.jpg') center/cover;
    color: white;
    padding: 20px;
    text-align: right;
}

section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
}

/*.card-section {
    Aggiungi stili necessari per la disposizione delle card
}*/

.card {
    width: 20%;
    padding: 20px;
    text-align: center;
}

.last-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: white;
}