/*
==================================================
  File name: style.css
  Exercise: Columns columns
  Author: Ambra
  Description: This stylesheet is for styling the Columns columns page 
  - It gives the class container common rules
  - Adds position sticky, a specific font-size and a high z-index 
    to elements of sticky class namely the header and footer
  - Fixes the header to the top of the page
  - General style for h1, paragraph of the footer, h2
  - Floats the aside to the left, gives it 20% width and general 
  - List item, aside anchors general styling
  - Gives the last aside list item further padding and differentiated it
  - To practice pseudo-classes, customizes each span in the last anchor #pride of the aside
  - Both #column1 and #column2 set to width 40% and margin auto, but they float left and right respectively
  - General styling for the quote class and the image container and caption
  - Fixes the footer to the bottom and sets it to clear both to make sure it acts as expected
==================================================
*/

html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    padding: 0;
    background-color: #D37676;
}

.container {
    border: black dotted 0.2vw;
    padding: 0.6vw;
}

.sticky {
    position: sticky;
    font-size: 2vw;
    z-index:2; /* Giving the sticky the highest and only z index to prevent the image 
    from overlapping over the header while scrolling */
}

header {
    background-color: #EADBC8;
    top: 0px; /* top at 0px fixes the sticky element to the top of the page */
}

h1, footer p {
    font-style: italic;
    text-align: center;
}


h1, h2 {
    font-weight: bold;
    padding-bottom: 0.1em;
    padding-top: 0.1em;
    font-size: 2.5vw; /* Fixing font-sizes attached to elements that behave as static 
    to avoid text overflowing from the container when zooming too much 
    and only one word is displayed on a single line */
}

aside {
    background-color: #fcdddd;
    padding: 1vw ;
    float: left; /* Floating the aside to the left as per example image */
    /* Dimensions roughly match the example provided */
    width: 20%; /* With the two sections having 40% it adds up to the entire page's width */
    height: 70vw;
    font-size: 2vw; /* Fixed font size for the same reason as the h2*/
}

/* With list-style set to none in the reset.css file, it serves as a quick semantic container 
to apply separate padding to each explanation with an anchor in the sidebar */
aside ul li {
    padding: 1vw;
}

aside a { /* Anchor styling */
    color: #601b6e;
    text-decoration: underline;
    font-style: italic;
}

aside li:last-of-type {
    padding-top: 8vw;
}

aside #pride {
    font-size: 4vw;
    font-weight: bold; /* like pride */
}

/* Changing single character colors as way to revise pseudo-classes */
#pride span:nth-child(1) {
    color: red;
}
#pride span:nth-child(2) {
    color: orange;
}
#pride span:nth-child(3) {
    color: rgb(255, 217, 0);
}
#pride span:nth-child(4) {
    color: green;
}
#pride span:nth-child(5) {
    color: blue;
}
#pride span:nth-child(6) {
    color: violet;
}
/* A different but probably more convoluted solution would have been to use pseudo-elements,
 ::before, ::after with the letters as values content: */

section {
    background-color: #FEFAF6;
}

#column1 { /* First section style */
    float: left; /* Floats to the left, so it ends up against the sidebar and "sandwiched" 
    between that and column 2 without the clear attribute */
    width: 40%; /* Both 40%, + the sidebar's 20% allows the three to fill the entire screen width */
    height: auto; /* auto values on height allow the sections to fill as much space as needed by the contents */
}

#column2 { /* Second section style */
    float: right; /* Floats to the right, stays because it doesn't have the clear attribute */
    width: 40%;
    height: auto;
}

.quote { /* Style for each p in the sections */
    background-color: #FFEBD8;
    padding: 2%;
    margin-bottom: 1vw; /* Adding margin so that the p's don't stick to eachother vertically */
    border-bottom: #dfcebd groove 0.8vw; /* Border to make each p seem like a "card" to be read separately */
}

#imgContainer {
    padding: 0.3vw; /* Fixed padding to avoid making the image container take up too much space on zoom in */
}

section #imgContainer #caption {
    background-color: #FFEBD8;
    padding: 2% 2% 0%; /* Top - Sides - Bottom one is 0% so it sticks to the image as a caption */
    border-bottom: #dfcebd groove 0.8vw;
    font-size: 1.8vw; /* Fixed font-size so that the caption's role remains clear 
    upon zoom ins and zoom outs (and to avoid having a multi-line caption)*/
}

footer {
    background-color: #EADBC8;
    clear: both; /* Since there's float elements, the footer needs the clear attribute on both 
    to move to the bottom and avoid unexpected behaviour */
    padding: 1em;
    bottom: 0px; /* bottom at 0px fixes the sticky element to the bottom of the page */
}