html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 2vw; /* Using viewport measurement helps prevent the table from going out of view upon resizing the window */
    background-color: #e6fdff;
}

table {
    width: 100%; /* Allows the table to take up the entire viewport's space */
}

table thead {
    position: sticky; /* Makes it so the header becomes fixed once the following threshold is reached */
    top: 0px; /* The threshold is reached when the element is at the top, so upon scrolliing. Specifies where it sticks, the top of the page */
    z-index: 2; /* Avoids images from overlapping with the thead upon scrolling */

    /* Misc style */
    font-size: 1.2em;
    font-weight: bold;
    background-color: #cc9feb;
}

table th {
    padding: 1vw;
    border: 0.4vw solid #e0ccff; /* vw so the borders don't resize upon zoom ins and zoom outs */
}

.flag-area {
    position: relative; /* To allow img's absolute positioning to work correctly */
    /* The following height and width essentially dictate the height of all rows and the width of all cells in the flag column */
    height: 100px; /* Setting a unit of measurement that varies with tscalable units in height and width allows the flags to display as big and tiny when needed. Also makes all flag areas behave like the tallest one (Nepal)*/
    width: 100px; /* Setting width as the same makes flag-areas with wider flags (American Samoa) resize to behave like the shorter ones */
    background-color: #cec6f054; /* Flag area background color as assigned, transparent so it allows the large pop highlight to be noticeable */
}

.flag-area img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; /* These properties move the absolute positioned element, if all directions are applied with auto margin it centers */
    max-height: 90%; /* Ensuring the flag doesn't exceed the height of the cell */
    max-width: 90%; /* Ensuring the flag doesn't exceed the width of the cell */
}

table .country-name {
    text-align: left; /* Aligning text elements in the Country name part of the table to the left of the cell as assigned */
    padding-left: 1vw;
}

.population {
    text-align: right; /* Aligning text elements in the Population part of the table to the right of the cell as assigned */
    padding-right: 1vw;
}

.large-population {
    background-color: #f9e0ff; /* Highlighting countries with a large population as assigned ( >20mil pop )*/
}