html {
    box-sizing: border-box;
}
  
*, *::after, *::before {
    box-sizing: inherit;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffe2c3;
    padding-bottom: 24px;
}

header {
    margin: 25px 0 50px 50px;
}

h1 {
    width: fit-content;
    padding: 0 12px 0 12px;
    border-radius: 20px;
    font-size: 5rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #42424220;
    color: #5ae1d2ff;
    font-weight: 500;
    transform: scaleY(1.2);
    text-shadow: 4px 4px 1px #424242;
}

/* Common div styling */
div {
    background-color: #f8e2ff;
    height: 160px;
    width: 160px;
    margin: 0 auto;
    margin-top: 5px;
    font-size: 0.8em;
    text-align: center;
    line-height: 160px;
    border: 1px #999 solid;
}

#regular {
    box-shadow: 8px 8px #424242;
}

#blurred {
    box-shadow: 8px 8px 8px #424242;
}

#spread {
    box-shadow: 8px 8px 0px 8px #424242;
}

#multi {
    box-shadow: 8px 8px #424242,
                16px 16px 8px #5ae1d2ff,
                24px 24px 0px 8px rgb(218, 174, 93);
}

#text {
    text-shadow: 4px 4px 4px #424242;
}

#multi-text {
    text-shadow: 8px 8px #424242,
                16px 16px 4px #5ae1d2ff,
                24px 24px 4px rgb(218, 174, 93);
}

section {
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    font-size: 1.6em;
    padding: 5px;
}