html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

/* Default background color */
body {
    background-color: #ecc5f1;
    color: black;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

/* Ensuring all navigation elements display on the same line */
.nav-menu, li {
    display: inline;
}

#menu-name {
    display: inline-block; /* Needed to set line-height and stay on the same line */
    line-height: 75px;
    width: 20%;
    padding-left: 1.5em;
    padding-right: 1vw;
    font-size: 1.5em;
    border-right: #000000 2px solid;
}

nav {
    height: 75px;
    line-height: 75px;
    /* To ensure the nav is at the top */
    margin: auto;
    width: 100%;
}

/* It's the ul element, using its class for consistency with the Javascript */
.nav-menu {
    float: right;
}

.nav-menu li {
    font-size: 1.2em;
    margin-right: 2em;
}

nav .nav-anchor:hover {
    text-decoration-color: pink;
    text-decoration: underline;
}

nav label {
    display: none; /* Hides the label's content, the hamburger icon, when the media query isn't active */
    height: min-content;
    float: right; /* Moves the hamburger icon to the right of the nav */
    cursor: pointer;
}


/* Media query that moves the list elements when the viewport reaches the breakpoint */
@media (max-width: 1200px) {
    nav .nav-menu {
        display: none; /* Hide the nav menu by default */
        position: relative;
        width: 150px;
        top: 4.7rem;
        left: 2rem;
        right: 0;
        background-color: #f7e4cb;
        font-size: 1rem;
        line-height: 0.2em;
        text-align: center;
    }

    nav .nav-menu.nav-active {
        display: inline-block; /* Show the nav menu when nav-active class is applied */
    }

    nav li {
        display: block;
        width: 100%; /* To match nav-menu's */
        border-color: black;
        border-style: outset;
        line-height: 2em;
    }

    /* Requires high specificity to override the CSS .nav-menu which hides it in the view without the query active */
    html body nav .hamburger {
        display: inline;
        float: right;
        position: relative;
        right: 1.5rem;
        width: 1.9rem;
        top: 2rem;
    }

    /* Displaying the dropdown nav menu when the toggle is on */
    .nav-active {
        display: inline-block;
    }

    /* Hamburger's bars style */
    .bar {
        width: 1.9rem;
        height: 0.3rem;
        margin-bottom: 0.4rem;
        background: white; /* Style for when the toggle is on */
        box-shadow: none; /* Removes the box shadow when the toggle is on */
        float: right;
    }

    html body nav .hamburger-active {
        background-color: black; /* Toggle is off, fully black */
    }

    /* Assigning the hover pseudoclass to the label allows all 3 .bar class spans to follow the css rule */
    label:hover .bar {
        background: rgb(251, 148, 255);
    }
};

.container {
    border: black dotted 0.2rem;
    padding: 0.6rem;
}

.sticky {
    position: sticky;
    font-size: 2vw;
    z-index:2; /* Giving the sticky the highest and only z index to prevent the image from overlapping over the header while scrolling */
}

h1, footer p {
    font-style: italic;
    text-align: center;
}

header {
    background-color: #EADBC8;
    top: 0px; /* top at 0px fixes the sticky element to the top of the page */
}


h1, h2 {
    font-weight: bold;
    padding-bottom: 0.1em;
    padding-top: 0.1em;
    font-size: 2.5vw; /* Fixing font-sizes attached to elements that behave as static to avoid text overflowing from the container when zooming too much and only one word is displayed on a single line */
}

aside {
    background-color: #fcdddd;
    padding: 1vw ;
    float: left; /* Floating the aside to the left as per example image */
    /* Dimensions roughly match the example provided */
    width: 20%; /* With the two sections having 40% it adds up to the entire page's width */
    font-size: 2vw; /* Fixed font size for the same reason as the h2*/
}

/* With list-style set to none in the reset.css file, it serves as a quick semantic container to apply separate padding to each explanation with an anchor in the sidebar */
aside ul li {
    padding: 1vw;
}

aside a { /* Anchor styling */
    color: #601b6e;
    text-decoration: underline;
    font-style: italic;
}

aside li:last-of-type {
    padding-top: 8vw;
}

aside #pride {
    font-size: 4vw;
    font-weight: bold; /* like pride */
}

/* Changing single character colors as way to revise pseudo-classes */
#pride span:nth-child(1) {
    color: red;
}
#pride span:nth-child(2) {
    color: orange;
}
#pride span:nth-child(3) {
    color: rgb(255, 217, 0);
}
#pride span:nth-child(4) {
    color: green;
}
#pride span:nth-child(5) {
    color: blue;
}
#pride span:nth-child(6) {
    color: violet;
}
/* A different but probably more convoluted solution would have been to use pseudo-elements, ::before, ::after with the letters as values content: */

section {
    background-color: #FEFAF6;
}

#column1 { /* First section style */
    float: left; /* Floats to the left, so it ends up against the sidebar and "sandwiched" between that and column 2 without the clear attribute */
    width: 40%; /* Both 40%, + the sidebar's 20% allows the three to fill the entire screen width */
    height: auto; /* auto values on height allow the sections to fill as much space as needed by the contents */
}

#column2 { /* Second section style */
    position: absolute; /* Using absolute to replace float right to allow the dropdown nav to overlap with the column */
    right: 0;
    width: 40%;
    height: auto;
}

.quote { /* Style for each p in the sections */
    background-color: #FFEBD8;
    padding: 2%;
    margin-bottom: 1vw; /* Adding margin so that the p's don't stick to eachother vertically */
    border-bottom: #dfcebd groove 0.8vw; /* Border to make each p seem like a "card" to be read separately */
}

#imgContainer {
    padding: 0.3vw; /* Fixed padding to avoid making the image container take up too much space on zoom in */
}

section #imgContainer #caption {
    background-color: #FFEBD8;
    padding: 2% 2% 0%; /* Top - Sides - Bottom one is 0% so it sticks to the image as a caption */
    border-bottom: #dfcebd groove 0.8vw;
    font-size: 1.8vw; /* Fixed font-size so that the caption's role remains clear upon zoom ins and zoom outs (and to avoid having a multi-line caption)*/
}

footer {
    background-color: #EADBC8;
    clear: both; /* Since there's float elements, the footer needs the clear attribute on both to move to the bottom and avoid unexpected behaviour */
    padding: 1em;
    bottom: 0px; /* bottom at 0px fixes the sticky element to the bottom of the page */
}