/*
==================================================
  File name: style.css
  Exercise: Stylish interactions
  Author: Ambra
  Description:
  It's generated through SCSS. It contains:
  - General body styling
  - Color variables
  - Styling for the heading element (h1) with a linear gradient background
  - Styling for the paragraph element (p) with a text shadow and a color transition on hover
  - Styling for the div element with class .cube that includes a constant and infinite left to right movement and rotation animation, 
    plus an animation stop on hover that doesn't restart its position
  - Achieved through the keyframe animation "move"
==================================================
*/
html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

/* General body style */
body {
  background-color: #eebbff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 4rem;
}

h1 {
  background: linear-gradient(to right, #ff00cc, #333399);
  font-weight: bold;
  text-align: center;
}

p {
  color: #333;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  transition: color 0.5s ease;
}
p:hover {
  color: #ff00cc;
}

.cube {
  width: 150px;
  height: 150px;
  background-color: #333399;
  position: relative;
  animation: move 5s infinite; /* Tying the keyframe anim to the div of class .cube
set to last 5 second and keep going indefinitely*/
  font-size: 2.4rem;
  color: #ff00cc;
  margin: 5% 0;
  border-radius: 15px;
  text-align: center;
  /* Only stops if the cursor is manually moved to hover over it, won't stop
  if the div moves on top of a still cursor */
}
.cube:hover {
  animation-play-state: paused;
}

@keyframes move {
  0% {
    left: 0;
  }
  50% {
    left: calc(100% - 150px);
    rotate: 90deg;
  }
  100% {
    left: 0;
    rotate: 0deg;
  }
}

/*# sourceMappingURL=style.css.map */
