/*
==================================================
  File name: style.css
  Exercise: Stylish interactions
  Author: Ambra
  Description:
  It's generated through SCSS. It contains:
  - General body styling
  - Color variables
  - Styling for the heading element (h1) with a linear gradient background
  - Styling for the paragraph element (p) with a text shadow and a color transition on hover
  - Styling for the div element with class .cube that includes a constant and infinite left to right movement and rotation animation, 
    plus an animation stop on hover that doesn't restart its position
  - Achieved through the keyframe animation "move"
==================================================
*/

html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

/* General body style */
body {
    background-color: #eebbff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 4rem;
}

// Color variables with mostly talking names
$text-color: #333;
$fuchsia: #ff00cc;
$hover-gradstart: $fuchsia;
$div-text: $fuchsia;
$div-gradend: #333399;
$div-side: 150px;
$shadow-color: rgba(0, 0, 0, 0.5);

h1 {
    // applies a linear gradient background to the heading from left to right, two variables as colors
    background: linear-gradient(to right, $hover-gradstart, $div-gradend); // #ff00cc to #333399
    font-weight: bold;
    text-align: center;
}

p {
    color: $text-color;
    text-shadow: 2px 2px 5px $shadow-color; // p's text shadow
    transition: color 0.5s ease;

    &:hover {
        color: $hover-gradstart; // #ff00cc
    }
}

.cube {
    width: $div-side; // 150px
    height: $div-side;
    background-color: $div-gradend; // #333399
    position: relative; // To allow positioning in the anim keyframe move
    animation: move 5s infinite; /* Tying the keyframe anim to the div of class .cube
    set to last 5 second and keep going indefinitely*/
    font-size: 2.4rem;
    color: $div-text; // #ff00cc
    margin: 5% 0; // Just to detach it from the previous elements
    border-radius: 15px;
    text-align: center;

    // Pausing the animation upon hovering over the cube div
    /* Only stops if the cursor is manually moved to hover over it, won't stop
    if the div moves on top of a still cursor */
    &:hover {
        animation-play-state: paused;
    }
}

// .cube's animation
@keyframes move {
    // Applies left position 0 at the start, no rotation needed
    0% { left: 0 } // Works thanks to relative positioning
    // Calculates when the displayed unhovered div touches the right side of the viewport, also says it should be 180degree rotated once there 
    50% { left: calc(100% - $div-side); rotate: (90deg) } // 100%-150px
    100% { left: 0; rotate: (0deg)}
}