<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="robe">
<meta name="twitter:site" content="pagina del sito">
<meta name="twitter:description" content="descrizione">
<meta name="twitter:image" content="link immagine social">
<meta name="twitter:image:alt" content="testo alt">