html {
    box-sizing: border-box;
}
  
*, *::after, *::before {
    box-sizing: inherit;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffe2c3;
    padding-bottom: 24px;
}

header {
    margin: 25px 0 50px 50px;
}

h1 {
    width: fit-content;
    padding: 0 12px 0 12px;
    border-radius: 20px;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #42424220;
    color: #5ae1d2ff;
    font-weight: 500;
    transform: scaleY(1.2);
}

h1 span {
    position: relative;
    top: 20px;
    color: #feb18b;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5rem;
}

/* Common div styling */
div {
    background-color: #f8e2ff;
    height: 160px;
    width: 160px;
    margin: 0 auto;
    margin-top: 5px;
    font-size: 0.8em;
    text-align: center;
    line-height: 160px;
    border: 1px #999 solid;
}

#first {
    transition: background-color 0.2s ease-in-out;
}

#first:hover {
    background-color: purple;
}

#multiple {
    transition: background-color 0.2s ease-in-out, border-radius 0.2s ease-out, width 0.2s ease-in, height 0.2s ease-in;
}

#multiple:hover {
    background-color: purple;
    border-radius: 30px;
    width: 120px;
    height: 120px;
}

section {
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    font-size: 1.6em;
    padding: 5px;
}