html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* fine reset */

nav{
    background-color: rgb(75, 34, 151);
    height: 60px;
}

nav li {
   display: inline-block;
}

nav a{
    color: white;
    display: block;
    float: left;
    line-height: 60px;
    text-decoration: none;
  /*width: 60px; se lo metto il 4 elemento della nav va a capo perché non ha spazio, fai padding*/
    padding: 0 15px;
    background-color: #4b3d3d;
    margin-right: -4px; /*dai -4 ai -6px, trovato su internet, 
    serve a correggere lo spazio tra gli a nella nav
    coi flex lo supereremo ugualmente*/
}

nav a:hover,
nav .active{ /*classe active per cambiare SOLO gli a nella nav*/
background-color: rgb(225, 205, 248);
color: black;

}

header{
height: calc(100vh - 56 px);
background-image: linear-gradient(to left top, #f6d8ff, #6a057e); ;
background-position: center;
background-repeat: no-repeat;


}


h1{
    color: rgb(78, 41, 41);
    padding-top: 80vh;
    padding-left: 850px;
    
    font-size: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
 
}


.container-fluid {
    width: 100%;
    padding:  0 15px;


 }




 .colntainer{
    width: 960px;
 }


 .img-fluid{
    float:left;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
 }


 .p-1 {
    padding: 30px;
    font-size: 30px;
   
   
 }
 .clearfix {
    clear: both;
 }


 .mt-5 {
    margin-top: 50px;
 }
 
 .beat {
    width: 22%;
    height: auto;
    float: left;
    padding:  0 15px;
 }
 
 
 
 .item {
   
    height: 100%;
    background-color: #d4b6fc;
    border: black solid 1px;
    border-radius: 15px;
    margin-bottom: 15px;
    overflow: hidden;
 }
 
 
 img {
    display: block;
 }
 
 figcaption {
    background-color: black;
    height: 50px;
 }
 
 figcaption h2 {
    color: white;
    line-height: 50px;
    text-align: center;
 }
 
 
 
 .item p {
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 
/* .button {
   
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  } */

  .pippo {
   width: 800px;
   margin: 0 auto;
   padding: 30 px;
   background-color:black;

  }

  .pippo input {
   width: 60%;
   padding: 7px 5px;
   
   
  }