html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 auto; /* Center the page horizontally */
    padding: 0;
    background-color: #fbe2fd;
}

header {
    background-color: #FFEBB2; /* Header background color */
    color: #8644A2; /* Header text color */
    text-decoration: solid;
    padding: 20px;
}

h1 {
    font-size: 2em;
    font-style: italic;
    font-weight: bold;
}

h2 {
    font-size: 1.3em;
    font-style: italic;
    margin-bottom: 0.8em;
}

#headline h2 {
    font-size: 1.6em;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 0.8em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #8644A2; /* Anchor color */
    text-decoration: none;
}

nav ul li a:hover {
    color: #341841; /* Anchor color when hovered */
    text-decoration: underline;
}

main {
    max-width: 1400px;
    margin: 0 auto; /* Center the main content */
    padding: 20px;
    /* background-color: red; */
}

section {
    background-color: #8644A2; /* Default section background color */
    color: #FFEBB2; /* Default section text color */
    padding: 20px;
    margin: 20px;
    border-color: #341841;
    border-radius: 1em;
    width: 75%;
    text-align: center;
}

.headline-news {
    background-color: #494174; /* Headline section background color */
    color: #FFEBB2; /* Headline section text color */
}

aside {
    background-color: #E59BE9; /* Aside background color */
    color: #8644A2; /* Aside text color */
    padding: 1%;
    float: right;
    font-size: 0.7em;
    width: 18%;
    margin-left: 1%;
    height: 1000px;
    box-sizing: border-box;
}

footer {
    background-color: #8644A2; /* Footer background color */
    color: #FFEBB2; /* Footer text color */
    padding: 20px;
    text-align: center;
}

/* Article styles */
article {
    display: inline-block;
    margin-top: 1em;
    margin-bottom: 1em;
    max-width: 15em;
    font-size: 0.7em;
    text-align: center;
}

article h3 {
    margin-top: 0;
    font-size: 1.5em;
}

article img {
    max-width: 100%;
    max-height: 100%;
    margin: inherit;
}

/* Image and article title hovers */
img:hover, h3:hover {
    cursor: pointer;
    font-weight: 600;
}