/* Set dimensions for table cells */
/* Each cell is 20px by 20px */
td {
  width: 20px;
  height: 20px;
}

/* Italian Flag */
.italian-flag tr:nth-child(1) td,
.italian-flag tr:nth-child(2) td,
.italian-flag tr:nth-child(3) td {
    background-color: #009246; /* Green */
}

.italian-flag tr:nth-child(4) td,
.italian-flag tr:nth-child(5) td,
.italian-flag tr:nth-child(6) td {
    background-color: #fff; /* White */
}

.italian-flag tr:nth-child(7) td,
.italian-flag tr:nth-child(8) td,
.italian-flag tr:nth-child(9) td {
    background-color: #b22234; /* Red */
}

/* Danish Flag */
.denmark-flag tr:nth-child(n) td {
    background-color: #c60c30; /* Red */
}

.denmark-flag tr:nth-child(3) td,
.denmark-flag tr:nth-child(4) td {
    background-color: #fff; /* White */
}

/* German Flag */
.germany-flag tr:nth-child(1) td,
.germany-flag tr:nth-child(2) td,
.germany-flag tr:nth-child(3) td {
    background-color: #000; /* Black */
}

.germany-flag tr:nth-child(4) td,
.germany-flag tr:nth-child(5) td,
.germany-flag tr:nth-child(6) td {
    background-color: #ff0000; /* Red */
}

.germany-flag tr:nth-child(7) td,
.germany-flag tr:nth-child(8) td,
.germany-flag tr:nth-child(9) td {
    background-color: #ffce00; /* Yellow */
}