/*
==================================================
  File name: style.css
  Exercise: Columns columns
  Author: Ambra
  Description: This stylesheet is for styling the Columns columns page 
  - It gives the class container common rules
  - Adds position sticky, a specific font-size and a high z-index 
    to elements of sticky class namely the header and footer
  - Fixes the header to the top of the page
  - General style for h1, paragraph of the footer, h2
  - Floats the aside to the left, gives it 20% width and general 
  - List item, aside anchors general styling
  - Gives the last aside list item further padding and differentiated it
  - To practice pseudo-classes, customizes each span in the last anchor #pride of the aside
  - Both #column1 and #column2 set to width 40% and margin auto, but they float left and right respectively
  - General styling for the quote class and the image container and caption
  - Fixes the footer to the bottom and sets it to clear both to make sure it acts as expected
==================================================
*/

html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    padding: 0;
    background-color: #D37676;
    /* Added flex display and the flex property column to the body */
    display: flex; 
    flex-direction: column;
    min-height: 100vh;
}

.container {
    border: black dotted 0.2vw;
    padding: 0.6vw;
}

.sticky {
    position: sticky;
    font-size: 2vw;
    z-index: 2; /* Giving the sticky the highest and only z index to prevent the image 
    from overlapping over the header while scrolling */
}

header {
    background-color: #EADBC8;
    top: 0px; /* top at 0px fixes the sticky element to the top of the page */
}

h1, footer p {
    font-style: italic;
    text-align: center;
}

h1, h2 {
    font-weight: bold;
    padding-bottom: 0.1em;
    padding-top: 0.1em;
    font-size: 2.5vw; /* Fixing font-sizes attached to elements that behave as static 
    to avoid text overflowing from the container when zooming too much 
    and only one word is displayed on a single line */
}

/* NEW: this class applies to a div, which contains the aside and the main, 
so that they can properly flex horizontally as sibling elements */
.flexed-content {
    display: flex;
    flex-direction: row;
}

/* NEW: previously, through box inheritance and the management of layout with floats and positioning,
the main element didn't really need styling. Here, since its contents need to use flex properties, it has
to be set to display flex, and a direction to be assigned to the flexing, here row. Flex grow is set to 1 to
align evenly, and align-items flex start stops the items from aligning vertically, just horizontally as needed. Without it, the height
of the sibling sections would be forced as equal, so the last child of the smallest section would "float" down to fill the space. */
main {
    display: flex;
    flex-direction: row; /* Allows its contents, the 2 sections, to display next to the aside */
    flex-grow: 1; /* set to 1 to dynamically align evenly */
    align-items: flex-start; /* Lets the items within, the 2 sections, align horizontally equally with all the space given from its start */
}

aside {
    background-color: #fcdddd;
    padding: 1vw;
    /* NEW: float left removed since unneeded due to flex displayed parent element */
    width: 20%;
    height: 80vw;
    font-size: 2vw; /* Fixed font size for the same reason as the h2*/
}

/* With list-style set to none in the reset.css file, it serves as a quick semantic container 
to apply separate padding to each explanation with an anchor in the sidebar */
aside ul li {
    padding: 1vw;
}

aside a { /* Anchor styling */
    color: #601b6e;
    text-decoration: underline;
    font-style: italic;
}

aside li:last-of-type {
    padding-top: 8vw;
}

aside #pride {
    font-size: 4vw;
    font-weight: bold; /* like pride */
}

/* Changing single character colors as way to revise pseudo-classes */
#pride span:nth-child(1) {
    color: red;
}

#pride span:nth-child(2) {
    color: orange;
}

#pride span:nth-child(3) {
    color: rgb(255, 217, 0);
}

#pride span:nth-child(4) {
    color: green;
}

#pride span:nth-child(5) {
    color: blue;
}

#pride span:nth-child(6) {
    color: violet;
}

section {
    background-color: #FEFAF6;
    /* NEW: */
    flex-grow: 1; /* Evenly aligns the section element */
    display: flex;
    flex-direction: column; /* columns columns. Replacing the width % and floats*/
}

/* NEW: Refers to the section columns, replaces the different style rules for #column1 and #column2,
since with flex they no longer need left and right specified*/
section.container {
    width: 40%;
    margin: 0 auto;
}

.quote { /* Style for each p in the sections */
    background-color: #FFEBD8;
    padding: 2%;
    margin-bottom: 1vw; /* Adding margin so that the p's don't stick to eachother vertically */
    border-bottom: #dfcebd groove 0.8vw; /* Border to make each p seem like a "card" to be read separately */
}

#imgContainer {
    padding: 0.3vw; /* Fixed padding to avoid making the image container take up too much space on zoom in */
}

section #imgContainer #caption {
    background-color: #FFEBD8;
    padding: 2% 2% 0%; /* Top - Sides - Bottom one is 0% so it sticks to the image as a caption */
    border-bottom: #dfcebd groove 0.8vw;
    font-size: 1.8vw; /* Fixed font-size so that the caption's role remains clear 
    upon zoom ins and zoom outs (and to avoid having a multi-line caption)*/
}

footer {
    background-color: #EADBC8;
    /* NEW: no need to use clear both, since there's no floats */
    padding: 1em;
    bottom: 0px; /* bottom at 0px fixes the sticky element to the bottom of the page */
}