html {
    box-sizing: border-box;
}
  
*, *::after, *::before {
    box-sizing: inherit;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffe2c3;
    margin: 80px;
}

h1 {
  font-size: 40px;
}

/* selecting all div containers without adding a class to each in HTML */
div:has(div) {
  border: 2px solid black;
  margin-bottom: 48px;
}

/* styles for all the flex items */
div > div {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  margin: 4px;
  background-color: #feb18b;
}

.unique {
  font-size: 0.5em;
}

/* flex-direction row example */
#container1 {
  display: flex;
  flex-direction: row;
}

/* flex-direction column-reverse example */
#container2 {
  display: flex;
  flex-direction: column-reverse;
}

/* flex-wrap example */
/* example without wrap
#container3 { 
  display: flex;
  width: 120px;
}
*/
/* example with wrap */
#container3 {
  display: flex;
  flex-wrap: wrap;
  width: 120px;
}

/* justify-content & align-content example */
#container4 {
  height: 180px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
}

/* align-self example */
div > #unique {
  align-self: center;
}

/* align-items example */
#container5 {
  height: 180px;
  display: flex;
  justify-content: end;
  align-items:flex-end;
}

/* flex-grow example */
#container6 {
  display: flex;
}

#container6 div:nth-child(2) {
  flex-grow: 2; /* 2nd div grows twice as much */
}

/* flex-shrink example */
#container7 {
  display: flex;
  width: 200px;
}

#container7 div:nth-child(2) {
  flex-shrink: 0; /* 2nd div won't shrink */
}

/* flex-basis example */
#container8 {
  display: flex;
}

#container8 div:nth-child(2) {
  flex-basis: 80px; /* 2nd div gets a base size */
}

/* order example */
#container9 {
  display: flex;
}

#container9 div:nth-child(2) {
  order: -1; /* 2nd div will be first */
}

/* gap example */
#container10 {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px; /* gap between divs */
  column-gap: 30px; /* gap between columns */
}

header {
    margin: 25px 0 50px 50px;
}