html {
    box-sizing: border-box;
    overflow-x: hidden; /* At one point the page started being scrollable to the right,
    so I implemented the rule from the third reference site that prevents it */
}

*, *::after, *::before {
    box-sizing: inherit;
}

/* Default background color */
body {
    background-color: #ecc5f1;
    color: white;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

/* Ensuring all navigation elements display on the same line */
.nav-menu, li {
    display: inline;
}

#menu-name {
    display: inline-block; /* Needed to set line-height and stay on the same line */
    line-height: 75px;
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-size: 1.5em;
    border-right: #000000 2px solid;
}

nav { 
    height: 75px;
    line-height: 75px;
    background-color: purple;
    /* To ensure the nav is at the top */
    position: absolute;
    top: 0;
    margin: auto;
    width: 100%;
}

/* It's the ul element, using its class for consistency with the Javascript */
.nav-menu {
    float: right;
}

.nav-menu li {
    font-size: 1.2em;
    line-height: 75px;
    margin-right: 2em;
}

nav .list-link:hover {
    text-decoration-color: pink;
    text-decoration: underline;
}

nav label {
    display: none; /* Hides the label's content, the hamburger icon, when the media query isn't active */
    height: min-content;
    float: right; /* Moves the hamburger icon to the right of the nav */
    cursor: pointer;
}


/* Media query that moves the list elements when the viewport reaches the breakpoint */
@media (max-width: 1200px) {
    nav .nav-menu {
        display: none; /* Hide the nav menu by default */
        position: absolute;
        width: 258px;
        left: 0;
        top: 75px;
        background-color: rgb(51, 24, 57);
        font-size: 1.2em;
        line-height: 0.5em;
        text-align: center;
    }

    nav .nav-menu.nav-active {
        display: inline-block; /* Show the nav menu when nav-active class is applied */
    }

    nav li {
        display: block;
        width: 100%; /* To match nav-menu's */
        border-color: black;
        border-width: 2px 0px; /* So that the border only appears horizontally between the li elements */
        border-style: outset;
    }

    /* Requires high specificity to override the CSS .nav-menu which hides it in the view without the query active */
    html body nav .hamburger {
        display: block;
        float: right;
        position: relative;
        right: 50px;
        width: 40px;
        margin-bottom: 10px;
        top: 20px;
    }

    /* Displaying the dropdown nav menu when the toggle is on */
    .nav-active {
        display: inline-block;
    }

    /* Hamburger's bars style */
    .bar {
        width: 40px;
        height: 5px;
        margin-bottom: 10px;
        background: rgb(207, 207, 207); /* Style for when the toggle is on */
        box-shadow: none; /* Removes the box shadow when the toggle is on */
        float: right;
    }

    html body nav .hamburger-active {
        box-shadow: black 2px 3px; /* The toggle is off, shows shadow */
        background-color: white; /* Toggle is off, fully white */
    }

    /* Assigning the hover pseudoclass to the label allows all 3 .bar class spans to follow the css rule */
    label:hover .bar {
        background: rgb(251, 148, 255);
    }
}

/* Only added to make the page scrollable to use the #top anchor */
footer {
    visibility: hidden;
    width: 100vw;
    height: 400px;
    position: relative;
    top: 900px;
}