/* Element selector */
body {
    background-color: #111;
    color: #eee;
    font-family: Cambria, serif;
    font-size: 16px; /* Change text size */
}

/* Element selector */
header {
    background-color: #440044;
    padding: 20px;
}

/* Element selector */
h1 {
    --redStuff: #FF0033; /* Custom property definition and first use */
    font-size: 10rem; /* Change text size */
}

/* Element selector */
strong {
    color: #CC00FF;
    font-size: 20px; /* Change text size */
}

/* Relational selector */
nav ul li a {
    color: var(--redStuff); /* Custom property */
}

/* Element selector */
main {
    padding: 30px; /* Change the padding */
}

/* Element selector */
h2 {
    color: #BB00FF;
    font-size: 2rem; /* Change text size */
}

/* Element selector */
aside {
    background-color: #440044;
    padding: 30px; /* Change the padding */
}

/* Element selector */
img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

/* ID selector */
#sidebar h2 {
    color: var(--redStuff); /* Custom property */
    font-size: 24px; /* Change text size */
}

/* ID selector */
#sidebar p {
    color: var(--redStuff); /* Custom property */
}

/* ID selector */
#sidebar a {
    color: #CC00FF;
}

/* Element selector */
footer {
    background-color: #333;
    color: #eee;
    padding: 30px; /* Change the padding */
    text-align: center;
}