html {
    box-sizing: border-box;
}
  
*, *::after, *::before {
    box-sizing: inherit;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffe2c3;
    padding-bottom: 24px;
}

header {
    margin: 25px 0 50px 50px;
    transform: rotate(-10deg);;
}

h1 {
    width: fit-content;
    padding: 0 12px 0 12px;
    border-radius: 20px;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #42424220;
    color: #5ae1d2ff;
    font-weight: 500;
    transform: scaleY(1.2);
}

h1 span {
    position: relative;
    top: 20px;
    color: #feb18b;
    font-family: 'Courier New', Courier, monospace, Geneva, Tahoma, sans-serif;
    font-size: 5rem;
    font-weight: 700;
}

/* Common div styling */
div {
    background-color: #f8e2ff;
    height: 160px;
    width: 160px;
    margin: 0 auto;
    margin-top: 5px;
    font-size: 0.8em;
    text-align: center;
    line-height: 160px;
    border: 1px #999 solid;
}

#translate {
    transition: transform 1s ease-in-out;
}

#translate:hover {
    transform: translate(-100px, -40px)
}

#rotate {
    transform: rotate(45deg);
}

#skew {
    transform: skew(10deg);
}

#origin {
    transform-origin: top left;
    transform: rotate(100deg);
}

#scale {
    transition: transform 1s ease;
}

#scale:hover {
    transform: scale(200%);
}

section {
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
    font-size: 1.6em;
    padding: 5px;
}