/*
==================================================
  File name: style.css
  Exercise: United nations
  Author: Ambra
  Description: This stylesheet is for styling the United nations page 
  - General body styling
  - Centered the main
  - Made the header id div:
    - Sticky with top positioning 0 so it stays at the top while scrolling
    - Have a z-index of 2 to prevent the flag images from overlapping with it
    - Have general styling
  - Gave the header-item class elements:
    - NEW: Flexbox to align them
    - Equal width in percentage
    - Text align center so there's only two rules needed to align the other 2 header ' text
    - Used pseudoclasses :nth-of-type to select the header-item class to align their text singularly.
    Made the middle one 34% width to fill the gap left by dividing 100% by 3
  - NEW: Display list as flex and giving them the flex direction column to simulate row behaviour
  - NEW: Centered flag images within their containers of class flag-area through flex positioning,
  limited dimensions so they don't overflow their row and the column
  - NEW: Centered country-name and population divs vertically through flex positioning, adds left and right padding respectively.
  - Highlighted countries with large populations using background color based on their class large-population
==================================================
*/

html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 2vw;
    background-color: #e6fdff;
    margin: 0;
    padding: 0;
}

#container {
    /* Generic "table" styling in the page */
    width: 80%;
    margin: 0 auto; /* Takes all the height available while auto margin width centers it in the page */
}

#header {
    font-size: 1.2em;
    font-weight: bold;
    position: sticky; /* Acts as relative until the threshold is met. Here it's used 
    to make the header stay at the top of the screen while scrolling */
    top: 0; /* Specifies the distance from the top the element should become static */
    z-index: 2; /* Prevents other elements from overlapping the header while scrolling */
    display: flex; /* NEW: Added Flexbox to align header items */
}

.header-item {
    flex: 1; /* NEW: Distributes space equally among header items */
    padding: 1vw;
    text-align: center; /* So that there's no need for an additional rule for the flag column header later */
    background-color: #cc9feb;
    border: 0.2vw solid #e0ccff;
}
/* Making the column headers align with the information below them */
.header-item:nth-of-type(2) {
    text-align: left;
    flex: 1.34; /* Higher percentage for the middle one because of the repeating decimal result 
    when dividing the total percentage 100 by 3 */
}

.header-item:nth-of-type(3) {
    text-align: right;
}

#country-list {
    display: flex; /* NEW: Display list as flex */
    flex-direction: column; /* NEW: Giving them flex direction column to simulate row behaviour */
}

.row {
    display: flex; /* NEW: Added Flexbox to align row items */
    align-items: center; /* NEW: Center items vertically */
    height: 100px;
    border: 0.3vw solid #e0ccff;
}

.flag-area {
    flex: 1; /* NEW: Flex property to distribute space */
    display: flex; /* NEW: Added Flexbox to center flag images */
    justify-content: center; /* NEW: Center flag images horizontally */
    align-items: center; /* NEW: Center flag images vertically */
    background-color: #cec6f054;
    overflow: hidden; /* NEW: Ensures images stay within their container */
    max-height: 100%; /* NEW: Ensure the container respects the height */
}

.flag-area img {
    height: 100%; /* Ensure the image takes the full height of the container */
    width: auto; /* Maintain aspect ratio */
    max-width: 100%; /* Ensure the image does not exceed the width of the container */
    object-fit: contain; /* Ensure the image scales correctly within its container */
}

.country-name {
    flex: 1.34; /* NEW: Flex property to distribute space */
    padding-left: 1vw;
    display: flex; /* NEW: Added Flexbox to center text */
    align-items: center; /* NEW: Center text vertically */
}

/* NEW: Flex property to distribute space, align items to the right */
.population {
    flex: 1; /* NEW: Flex property to distribute space */
    padding-right: 1vw;
    display: flex; /* NEW: Added Flexbox to align text */
    justify-content: flex-end; /* NEW: Align text to the right */
    align-items: center; /* NEW: Center text vertically */
}

.large-population {
    background-color: #f9e0ff; /* Highlighting countries with a large population as requested ( >20mil pop )*/
}