/*
==================================================
  File name: style.css
  Exercise: Alien frogs
  Author: Ambra
  Description: This stylesheet is for styling the Alien frogs
  page. 
  - It gives the class frog common rules between all divs
  - Adds specific rules for the type1, type2 and small classes
  - Adds two pseudoelements per div to make the eyes, 
    doing so separately for type1 and type2 class divs.
  - Adds hover effects for the frogs that display on the pseudoelements.

  Extra: Make the frogs do something after 5 seconds
  After the javascript function that adds the classes is executed, applies:
  - Changes to the color of the divs
  - The content of the pseudoelements
  - The background image
==================================================
*/

html {
    box-sizing: border-box;
    height: 100%; /* To ensure the background image fills the entire page*/
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    padding: 5vw;
    height: 100%; /* To ensure the background image fills the entire page*/
}

h1 {
    font-size: 3rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white; /* White so it's only visible upon the 5 seconds after rules apply */
    font-weight: 600;
}

.frog {
    display: inline-block; /* To allow them to occupy their space on the same line as others */ 
    position: relative; /* Allows the pseudoelements to have an absolute position relative to their div */
    /* General syling */
    width: 70px;
    height: 30px;
    border-radius: 1vw;
    border: black solid 1px;
    text-align: center;
    margin: 4rem;
}

.type1 {
    background-color: rgb(98, 204, 98); /* Differentiating type 1 */
}

.type1::before {
    content: 'o'; /* Pupil in the eye pseudoelement */
    /* Allows the element to have its position manipulated, relative to the closest non static element, so the frog div */
    position: absolute;
    bottom: 75%;
    left: -15%; /* Frog's left eye from our point of view */
    /* General styling */
    border-radius: 50%;
    border: black solid 1px;
    background-color: rgb(168, 212, 168);
    width: 20px;
}

/* Same as the before pseudoelement, but mirrored horizontal position */
.type1::after {
    content: 'o';
    position: absolute;
    bottom: 75%;
    right: -15%; /* Right instead of left, right eye from our point of view */
    border-radius: 50%;
    border: black solid 1px;
    background-color: rgb(168, 212, 168);
    width: 20px;
}

.type2 {
    background-color: orangered; /* Differentiating type 2 */
}

/* Same as type1's pseudoelements, just a background color change */
.type2::before {
    content: 'o';
    border-radius: 50%;
    border: black solid 1px;
    position: absolute;
    background-color: orange;
    bottom: 75%;
    left: -15%;
    width: 20px;
}

.type2::after {
    content: 'o';
    border-radius: 50%;
    border: black solid 1px;
    position: absolute;
    background-color: orange;
    bottom: 75%;
    right: -15%;
    width: 20px;
}

/* Differentiating the divs that have the small class */
.small {
    width: 45px;
    height: 25px;
    border-radius: 1vw;
}

/*Adding hover effects to the pseudo-elements upon hovering the class frog. */
.frog:hover:before {
    background-color: black;
    content: 'o';
    color: white;
    cursor: pointer;
}

.frog:hover:after {
    background-color: black;
    content: 'o';
    color: white;
    cursor: pointer;
}

/* If we were to hover over the frog itself and not the eye pseudoelements without this rule,
we'd get the hover effect but not the pointer cursor since it's triggered by hovering the pseudoelements
themselves in the previous 2 rules */
.frog:hover {
    cursor: pointer;
}

/* Additional part, style for the page after 5 seconds have passed */ 
/* Turn small frogs purple */
body div.action.small {
    background-color: purple;
}

/* Turn other frogs cyan. small ones stay purple due to higher selector specificity */
body div.action {
    background-color: cyan;
    border-width: 2px;
}

/* Turn the content 'o' into '-' for the pseudoelements */
.action::before, .action::after {
    content: "-"
}

/* Change the body's background properties */
#sleep {
    background-image: url('../assets/images/nightswamp.jpg');
    background-size: cover;
    background-color: black;
}