/**
 * style.css
 *
 * A series of styles to transform the 'Red Hot Chili Peppers' page
 * Style the HTML elements according to the following instructions
 * Do not change the HTML file to do this.  write only css.
 */

/* Set Body Background Color */
body {
  background-color: beige;
}

/* Style Links and Visited Links */
a:link,
a:visited {
  color: darkorange;
}

/* First Cell in Each Data Row Background and Text Color */
table tbody tr:first-child {
  background-color: rgb(254, 160, 126); /* approximately the same color of the table head */
  color: black;
}

/* Row Height roughly three times the font */
table tbody tr:not(:first-child){
  height: 3em;
}

table tbody td:first-child {
  background-color: red;
  color: white;
}

/* Zebra Stripe Rows */
tbody tr:nth-child(even) {
  background-color: #eeeeee;
}

tbody tr:nth-child(odd) {
  background-color: white;
}

/* Red Label on Checkbox Click */
input[type="checkbox"]:checked + label {
  color: red;
}

/* Making the a element display as block to allow ::first-letter 
  to act on it, since it only works on block elements */
a {
  display: block;
}

/* First Letter of Pepper Name Styling */
td a::first-letter {
  font-weight: bold;  /* Making the first letter bold */
  text-decoration: underline; /* Overriding the previous underline with the bold and 2em one */
  font-size: 2em; /* Setting font size to 2em */
}

/* Color Links for Superhot Peppers */
a[title*="superhot"] {
  color: red;
}