/**
 * style.css
 *
 * A series of styles for the 'We mean business' page
 */

/* Table header background color */
table thead {
  background-color: #542972;
  color: white;
}

/* Zebra stripes */
table tbody tr:nth-child(3n+1),
table tbody tr:nth-child(3n+2) {
  background-color: #f2f2f2; /* Grey */
}

table tbody tr:nth-child(3n) {
  background-color: white;
}

/* Hover effect for all rows except the header */
table#table tbody tr:hover {
  background-color: rgb(220, 178, 255);
}

table tbody tr td:first-child#me:hover {
  cursor: wait;
}