html {
    box-sizing: border-box;
    overflow-x: hidden; /* At one point the page started being scrollable to the right,
    so I implemented the rule from the third reference site that prevents it */
}

*, *::after, *::before {
    box-sizing: inherit;
}

/* Default background color */
body {
    background-color: #ecc5f1;
    color: white;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

#menu-name {
    display: inline-block; /* Needed to set line-height and stay on the same line */
    line-height: 75px;
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-size: 1.5em;
    border-right: #000000 2px solid;
}

.list-link {
    padding: 1em;
}

nav { 
    height: 75px;
    background-color: purple;
    /* To ensure the nav is at the top */
    position: absolute;
    top: 0;
    margin: auto;
    width: 100%;
}

/* Styles for mobile view */

/* Avoiding styling ul through the class name set to be
     toggled through javascript else the rules won't
     be applied if the toggle is on and the viewport width is
     above the breakpoint */
ul {
    display: none; /* Hide the nav menu by default */
    position: absolute;
    width: 258px;
    left: 0;
    top: 75px;
    background-color: rgb(51, 24, 57);
    font-size: 1.2em;
    line-height: 0.5em;
    text-align: center;
}

ul.nav-active {
    display: inline-block; /* Show the nav menu when nav-active class is applied (through the hamburger toggle) */
}

nav .list-link {
    display: block;
    line-height: 1em;
    border-color: black;
    border-width: 2px 0px; /* So that the border only appears horizontally between the li elements */
    border-style: outset;
}

.hamburger {
    display: block; /* Display the hamburger menu by default */
    float: right;
    position: relative;
    right: 50px;
    width: 40px;
    margin-bottom: 10px;
    top: 20px;
    cursor: pointer;
}

.bar {
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background: rgb(206, 206, 206);
    float: right;
}

.hamburger-active {
    box-shadow: black 2px 3px;
    background-color: white;
}

/* Assigning the hover pseudoclass to the label allows all 3 .bar class spans to follow the css rule */
label:hover .bar {
    background: rgb(251, 148, 255);
}

/* Styles for desktop view */
@media (min-width: 1200px) {
    body nav .nav-menu, body nav ul li, body nav .list-link {
        display: inline;
        background: none; /* Removes background properties like color.
        background-color: none is not a proper value */
        border: none;
    }


    body nav ul li {
        float: right;
        line-height: 75px;
        margin: 0 2 0 0;
    }

    body nav .nav-menu {
        position: relative;
        top: 0;
    }
    
    body nav {
        height: 75px;
        display: inline-block;
        /* To ensure the nav is at the top */
    }
    

    .hamburger {
        display: none; /* Hide the hamburger menu */
    }

    .bar {
        display: none;
    }

    nav li > a:hover {
        text-decoration-color: pink;
        text-decoration: underline;
    }
}

/* Only added to make the page scrollable to use the #top anchor */
footer {
    visibility: hidden;
    width: 100vw;
    height: 400px;
    position: relative;
    top: 900px;
}