/*
==================================================
  File name: style.css
  Exercise: Mix it up
  Author: Ambra
  Description: This stylesheet is for styling the Mix it up page.
  SCSS used generate the CSS file. It contains:
  - General body styling
  - Uses 2 global size variables, $minimal and $frame
  - Assigns the .text class element a padding with $minimal as value

  - Used a first @mixin, calling it bareBones, which:
    - Assigns to border the $frame, solid and black values
    - Assigns to margin and padding the $minimal value

  - Used a second @mixin, calling it styler, which:
    - Has two parameters: $aligned: right, $bland: white
    - Includes the mixin bareBones
    - Assigns tho background-color $bland as value
    - Assigns to text-align the $aligned value, in this case 'right'

  - Used a third @mixin, calling it sassy, which:
    - Includes the styler mixin, modifying its parameter $aligned to the value 'center'
    - Declares variables:
      - $size, its value is $minimal*2
      - $fraction, its value is 1/2 (deprecated)
      - $stylish, its value is a HEX color
    - Sets border's value to $frame / fraction inset
    - Sets font-size's value to $size
    - Sets line-height's value to $size * $ fraction, just to 
    showcase operators more since it'll be 1em just like $minimal
    - Sets background-color to $stylish

  - After the mixin rules are set
  - The first div within body has the inclusion of the bareBones mixin as a statement
  - The second div within body has the inclusion of the styler mixin as a statement, so in total 2 mixins applied
  - The last div within body has
    - the inclusion of the sassy mixin as a statement, so in total 3 mixins applied
    - A nested <strong> element selector that states font-weight set to 700
==================================================
*/

html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

/* General body style */
body {
    background-color: #eebbff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}

// Using global scss variables for all paddings and for base border width
$minimal: 1em; // Will be used as padding for all elements
$frame: 2px; // Will be used as base border width

.text { /* Class the header and footer belong to */
    padding: $minimal; // 1em
}

// First mixin, the one the first div will include directly 
// and the other two divs will use by including the mixins that include it
@mixin bareBones {
    border: $frame solid black;
    margin: $minimal; //1em
    padding: $minimal; //1em
}

// Second mixin, the one the second div will include directly 
// and that the third div  will use by including a mixin that includes it
@mixin styler($aligned: right, $bland: white) {
    @include bareBones; // Including the first mixin
    background-color: $bland; //white
    text-align: $aligned; //right
}

// Third mixin, the one the third div will use, which includes both the previous mixins
@mixin sassy {
    @include styler($aligned: center); // Changing the variable's value, automatically
                                        // applies it with the different value
    // Variables for the sassy mixin
    $size: $minimal * 2; //1em * 2 = 2em
    $fraction: 1/2;
    $stylish: #ff66ff; // Will replace the background color, which used $bland's white value

    border: $frame / $fraction inset; //2px / 1/2 = 4px
    font-size: $size; //2em
    line-height: $size * $fraction; //2em * 1/2 = 1em
    // Could also just put $minimal, just did it to use more operators
    background-color: $stylish;
}

// Applying the styles to the divs by just including the mixins
body div:first-of-type {
    @include bareBones; // Just one mixin
}

body div:nth-of-type(2) {
    @include styler; // A mixin that includes a mixin
}

body div:last-of-type {
    @include sassy; // A mixin including a mixin that includes a mixin
    

    strong { // Using nesting for the strong element styling
        font-weight: 700;
    }
}