/*
==================================================
  File name: style.css
  Exercise: Mix it up
  Author: Ambra
  Description: This stylesheet is for styling the Mix it up page.
  SCSS used generate the CSS file. It contains:
  - General body styling
  - Uses 2 global size variables, $minimal and $frame
  - Assigns the .text class element a padding with $minimal as value

  - Used a first @mixin, calling it bareBones, which:
    - Assigns to border the $frame, solid and black values
    - Assigns to margin and padding the $minimal value

  - Used a second @mixin, calling it styler, which:
    - Has two parameters: $aligned: right, $bland: white
    - Includes the mixin bareBones
    - Assigns tho background-color $bland as value
    - Assigns to text-align the $aligned value, in this case 'right'

  - Used a third @mixin, calling it sassy, which:
    - Includes the styler mixin, modifying its parameter $aligned to the value 'center'
    - Declares variables:
      - $size, its value is $minimal*2
      - $fraction, its value is 1/2 (deprecated)
      - $stylish, its value is a HEX color
    - Sets border's value to $frame / fraction inset
    - Sets font-size's value to $size
    - Sets line-height's value to $size * $ fraction, just to 
    showcase operators more since it'll be 1em just like $minimal
    - Sets background-color to $stylish

  - After the mixin rules are set
  - The first div within body has the inclusion of the bareBones mixin as a statement
  - The second div within body has the inclusion of the styler mixin as a statement, so in total 2 mixins applied
  - The last div within body has
    - the inclusion of the sassy mixin as a statement, so in total 3 mixins applied
    - A nested <strong> element selector that states font-weight set to 700
==================================================
*/
html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

/* General body style */
body {
  background-color: #eebbff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
}

.text { /* Class the header and footer belong to */
  padding: 1em;
}

body div:first-of-type {
  border: 2px solid black;
  margin: 1em;
  padding: 1em;
}

body div:nth-of-type(2) {
  border: 2px solid black;
  margin: 1em;
  padding: 1em;
  background-color: white;
  text-align: right;
}

body div:last-of-type {
  border: 2px solid black;
  margin: 1em;
  padding: 1em;
  background-color: white;
  text-align: center;
  border: 4px inset;
  font-size: 2em;
  line-height: 1em;
  background-color: #ff66ff;
}
body div:last-of-type strong {
  font-weight: 700;
}

/*# sourceMappingURL=style.css.map */
