html {
    box-sizing: border-box;
    overflow-y: hidden; /* Hides all elements that extend below the current visualized page */
}

*, *::after, *::before {
    box-sizing: inherit;
}

/* Default background color */
body {
    background-color: #9fcffa;
}

main {
    margin: auto; /* Takes all the height available while auto margin width centers it in the page */
    position: absolute; /* Allows the other two elements to display based on main's centered position */
    left: 0;
    top: 30%;
    bottom: 0;
    right: 0;
}

/* The div containing the images displayed through media queries */
#anim-zone {
    width: 20em; /* em keeps the displayed proportions stable */
    height: 20em;
    background-size: cover; /* Prevents the image from duplicating if it's smaller than the display space it's given */
    margin: auto; /* Centers the image since it isn't using the position attribute */
}

#platform {
    height: 1000vw;
    background-color: rgb(157, 102, 68);
    position: relative;
    bottom: 7.5em; /* Distance needed because the image is a PNG bigger than what is seen on screen. Could also be applied to #anim-zone instead */
    border-top: solid rgb(146, 188, 110) 5vw;
    border-width: 3em;
}

/* Image 1
Setting min-width to 2000px and not setting a max-width on the image displayed upon zooming in/reducing the viewport lets it be the one that keeps being displayed regardless of how much the viewport zooms out once the other queries' conditions can't be met. */
@media (min-width: 1800px) {
    #anim-zone {
        background-image: url('../assets/1Jump.png');
    }
    /* Moving the #platform div downward by reducing its relative distance from the bottom to emulate the frog's jump */
    #platform {
        bottom: 4em
    }

    body {
        background-color: #e3bce5;
    }
}

/* Intermediary query, uses the same image and only serves to reduce the jarring difference between frames */
@media (min-width: 1500px) and (max-width: 1799px) {
    #anim-zone {
        background-image: url('../assets/1Jump.png');
    
    }
    /* Moving the #platform div a bit closer to the frog image to ease in the next frames */
    #platform {
        bottom: 6em
    }

    body {
        /* Softer color transition */
        background-color: #c3aef7;
    }
}

/* Image 2 */
@media (min-width: 1100px) and (max-width: 1499px) {
    #anim-zone {
        background-image: url('../assets/2-Land1.png');
    }
}
/* Image 3 */
@media (min-width: 900px) and (max-width: 1099px) {
    #anim-zone {
        background-image: url('../assets/3-Land2.png');
    }
}

/* Image 4 */
@media (min-width:750px) and (max-width: 899px) {
    #anim-zone {
        background-image: url('../assets/4-Idle.png');
    }
}

/* Image 5 
Similarly to Image 1, setting the min width to the minimum value possible allows the "frame" to keep displaying whenever other queries' conditions aren't met and below the highest min-width query, making this the image that's displayed when the viewport width is at its smallest */
@media (max-width: 749px) {
    #anim-zone {
        background-image: url('../assets/5-Croak.png');
    }
}