html {
    box-sizing: border-box;
}
  
*, *::after, *::before {
    box-sizing: inherit;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffe2c3;
    padding-bottom: 24px;
}

header {
    margin: 25px 0 50px 50px;
}

h1 {
    width: fit-content;
    padding: 0 12px 0 12px;
    border-radius: 20px;
    font-size: 5rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #42424220;
    /* Had to look it up, did it for theming */
    background: -webkit-linear-gradient(90deg, #f8e2ff, #5ae1d2ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
    transform: scaleY(1.2);
}

/* Common div styling */
div {
    height: 160px;
    width: 160px;
    margin: 0 auto;
    margin-top: 5px;
    font-size: 0.8em;
    text-align: center;
    line-height: 160px;
    border: 1px #999 solid;
}

#linear {
    background: linear-gradient(90deg, #f8e2ff, #5ae1d2ff);
}

#radial {
    background: radial-gradient(#f8e2ff, #5ae1d2ff);
}

#multi {
    background: linear-gradient(to top, #f8e2ff, #ffffff80,#5ae1d2ff);
}

#weird {
    background: radial-gradient(circle at 80%, #5ae1d2ff, rgb(0, 255, 225) 50%, #f8e2ff 75%, #5ae1d2ff 75%);
}

#multi-text {
    text-shadow: 8px 8px #424242,
                16px 16px 4px #5ae1d2ff,
                24px 24px 4px rgb(218, 174, 93);
}

section {
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    font-size: 1.6em;
    padding: 5px;
}